{% extends 'dashboard/base.html' %}

{% block title %}Patients{% endblock %}

{% block content %}
    <h2>Patients</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.patient_id }}</td>
                <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                <td>{{ patient.status }}</td>
                <td><a href="{% url 'patient_detail' patient.patient_id %}" class="btn btn-primary btn-sm">View Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
