{% extends 'dashboard/base.html' %}

{% block title %}Actions Taken by Staff{% endblock %}

{% block content %}
<h2>Actions Taken by Staff</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Staff Member</th>
            <th>Alert ID</th>
            <th>Action Timestamp</th>
            <th>Action Taken</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for action in actions %}
        <tr>
            <td>
                <a href="{% url 'staff_detail' action.staff.staff_id %}">
                    {{ action.staff.first_name }} {{ action.staff.last_name }}
                </a>
            </td>
            <td>
                <a href="{% url 'alert_detail' action.alert.alert_id %}">
                    {{ action.alert.alert_id }}
                </a>
            </td>
            <td>{{ action.action_timestamp }}</td>
            <td>{{ action.action_taken|truncatewords:10 }}</td>
            <td>
                <a href="{% url 'staff_takes_action_detail' action.staff.staff_id action.alert.alert_id action.action_timestamp|date:'Y-m-d H:i:s' %}" class="btn btn-primary btn-sm">
                    View Details
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
