{% extends 'dashboard/base.html' %}

{% block title %}Vital Records{% endblock %}

{% block content %}
    <h2>Vital Records</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Record ID</th>
                <th>Timestamp</th>
                <th>Patient</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for record in vital_records %}
            <tr>
                <td>{{ record.record_id }}</td>
                <td>{{ record.timestamp }}</td>
                <td>
                    {% for patient in record.patient_set.all %}
                        <a href="{% url 'patient_detail' patient.patient_id %}">{{ patient.first_name }} {{ patient.last_name }}</a>
                    {% endfor %}
                </td>
                <td><a href="{% url 'vital_record_detail' record.record_id %}" class="btn btn-primary btn-sm">View Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
